/* Centraliza o componente <app-forme-cadastro> */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Garante que o main ocupe a altura total da viewport */
  }
  
  /* Posiciona o link "Log in" no canto superior direito */
  header {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
  }
  
  header a {
    text-decoration: none;
    color: #ff8800; /* Cor do link */
  }
  header a:hover{
    color: aliceblue;
  }
  
