.card-container {
    background-color: #1e1e1e;
    border: 1px solid #76ff7a;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    width: 100%; /* Ocupa todo o espaço disponível */
    max-width: none; /* Remove qualquer limitação de largura */
    height: 600px; /* Altura fixa de 600px */
    overflow-y: auto; /* Permite rolagem interna se necessário */
  }
  
  .card-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  h2 {
    color: #76ff7a;
    text-align: center;
    margin-top: 0;
  }
  
  p {
    font-size: 1rem;
    color: #d4d4d4;
    margin: 10px 0;
  }
  
  h3 {
    color: #76ff7a;
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid #76ff7a;
    padding-bottom: 5px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    background-color: #333333;
    color: #d4d4d4;
    border: 1px solid #76ff7a;
    border-radius: 8px;
    padding: 10px;
    margin: 5px 0;
    transition: transform 0.2s ease;
  }
  
  li:hover {
    transform: scale(1.05);
  }
  
  img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
  }
  