<app-head></app-head>
<main>
  <section id="scopo">
    <ul>
      <li><a href="#educacao-financeira">Educação Financeira</a></li>
      <li><a href="#planejamento-financeiro">Planejamento Financeiro</a></li>
      <li><a href="#investimentos">Investimentos</a></li>
      <li><a href="#acoes">Ações</a></li>
      <li><a href="#analise-fundamentalista">Análise Fundamentalista</a></li>
    </ul>
  </section>
  <section id="educacao-financeira">
    <h1>Educação Financeira</h1>
    <p>Educação financeira envolve aprender a gerenciar seu dinheiro de forma eficiente, entender investimentos,
      poupança e planejar para metas de curto e longo prazo. Aqui estão alguns pontos essenciais:</p>
    <ul>
      <li>Controle de Gastos: Monitorar todas as suas despesas para entender para onde o dinheiro está indo.</li>
      <li>Poupança: Guardar dinheiro para emergências e grandes objetivos.</li>
      <li>Investimentos: Fazer o dinheiro crescer através de aplicações financeiras.</li>
      <li>Planejamento de Longo Prazo: Estabelecer metas financeiras e um plano para alcançá-las.</li>
      <li>Disciplina Financeira: Manter hábitos financeiros saudáveis consistentemente.</li>
    </ul>
  </section>
  <section id="planejamento-financeiro">
    <h1>Planejamento Financeiro</h1>
    <p>Planejamento financeiro é a base para alcançar estabilidade e prosperidade. Algumas dicas incluem:</p>
    <ul>
      <li>Crie um orçamento pessoal e acompanhe suas despesas: Use ferramentas como planilhas ou aplicativos de
        finanças para controlar gastos e receitas.</li>
      <li>Monte uma reserva de emergência: Tenha uma poupança equivalente a 3-6 meses de despesas para imprevistos.
      </li>
      <li>Defina metas financeiras: Estabeleça objetivos claros, como comprar uma casa, viajar ou se aposentar.</li>
      <li>Diversifique seus investimentos: Não coloque todos os ovos na mesma cesta; invista em diferentes ativos.
      </li>
      <li>Evite dívidas de juros altos: Priorize o pagamento de dívidas com altas taxas de juros, como cartões de
        crédito.</li>
    </ul>
  </section>
  <section id="investimentos">
    <h1>Investimentos</h1>
    <h2>Taxa CDI</h2>
    <p>CDI (Certificado de Depósito Interbancário) é uma taxa de referência usada para a maioria dos investimentos de
      renda fixa no Brasil. Ele é baseado nas operações de empréstimos entre bancos.</p>
    <h2>Taxa de Juros</h2>
    <p>A taxa de juros é o custo do dinheiro emprestado e influencia diretamente o retorno dos investimentos. Ela pode
      ser fixa ou variável.</p>
    <h2>Variedades de Investimentos em Renda Fixa</h2>
    <ul>
      <li>Títulos Públicos: Emitidos pelo governo para financiar suas atividades. <ul>
          <li>Selic: Atrelados à taxa Selic, ideais para reserva de emergência.</li>
          <li>IPCA+: Protegem contra a inflação, atrelados ao IPCA.</li>
          <li>Prefixados: Oferecem rentabilidade fixa.</li>
        </ul>
      </li>
      <li>CDBs: Certificados de Depósito Bancário, emitidos por bancos.</li>
      <li>LCIs/LCAs: Letras de Crédito Imobiliário/Agrícola, isentas de imposto de renda.</li>
      <li>Debêntures: Títulos emitidos por empresas para captar recursos.</li>
    </ul>
  </section>
  <section id="acoes">
    <h1>Ações</h1>
    <p>Ações representam partes do capital de uma empresa. Investidores compram ações para se tornarem sócios da
      empresa e participarem dos lucros e prejuízos.</p>
    <h2>Ações Preferenciais e Ordinárias</h2>
    <p>Ações Preferenciais (PN): Garantem preferência na distribuição de dividendos, mas geralmente não dão direito a
      voto.<br> Ações Ordinárias (ON): Conferem direito a voto nas assembleias da empresa, mas não têm preferência na
      distribuição de dividendos.</p>
    <h2>Modalidades de Investimentos a Longo Prazo</h2>
    <ul>
      <li>Blue Chips: Empresas consolidadas e estáveis, com histórico de desempenho sólido.</li>
      <li>Growth Stocks: Empresas em crescimento acelerado, com potencial de valorização.</li>
      <li>Dividend Stocks: Empresas que distribuem parte do lucro aos acionistas regularmente.</li>
    </ul>
  </section>
  <section id="analise-fundamentalista">
    <h1>Análise Fundamentalista</h1>
    <p>Análise fundamentalista é usada para avaliar o valor intrínseco de uma ação com base em indicadores econômicos
      e financeiros. Ela considera fatores como a saúde financeira da empresa, a economia e o setor em que atua.</p>
    <h2>Termos e Significados</h2>
    <ul>
      <li>Dividend Yield: Relação entre o dividendo pago e o preço da ação, indicando o retorno do investimento em
        dividendos.</li>
      <li>P/L (Preço/Lucro): Indica o número de anos que o investimento levará para se pagar com base no lucro atual.
      </li>
      <li>VPA (Valor Patrimonial por Ação): Valor do patrimônio líquido da empresa dividido pelo número de ações.</li>
      <li>ROE (Return on Equity): Retorno sobre o patrimônio líquido, medindo a eficiência da empresa em gerar lucro
        com os recursos dos acionistas.</li>
    </ul>
  </section>
</main>
<app-footer></app-footer>
