
header {
    width: 95%;
    text-align: right;
    margin-bottom: 50px;
    border-bottom: 1px solid #007bff;

}

header a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    font-size: 18px;
    margin-right: 3%;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
app-forme-log-in {
   
    padding: 100px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}
