.vertical-bar {
    width: 200px;
    max-height: 600px;
    overflow-y: auto;
    border: 1px solid #76ff7a;
    border-radius: 8px;
    padding: 16px;
    background-color: #1e1e1e;
  }
  
  .card {
    background-color: #1e1e1e;
    color: #d4d4d4;
    border: 1px solid #76ff7a;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    position: relative;
    cursor: pointer;
    transition: transform 0.2s ease, border-color 0.2s ease;
    width: 100%;
    text-align: left;
  }
  
  .card.selected {
    border-color: #ffeb3b; /* Contorno amarelo */
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .card-content {
    display: none;
    font-size: 1rem;
    background-color: #333333;
    border-radius: 4px;
    padding: 8px;
    position: absolute;
    top: 40px;
    left: 16px;
    width: calc(100% - 32px);
    z-index: 10;
  }
  
  .card:hover .card-content {
    display: block;
  }
  
  .vertical-bar::-webkit-scrollbar {
    width: 12px;
  }
  
  .vertical-bar::-webkit-scrollbar-track {
    background: #1e1e1e;
    border-radius: 8px;
  }
  
  .vertical-bar::-webkit-scrollbar-thumb {
    background: #007bff;
    border-radius: 6px;
  }
  
  .vertical-bar::-webkit-scrollbar-thumb:hover {
    background: #0056b3;
  }
  
  .vertical-bar::-webkit-scrollbar-thumb:before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background: #ffffff;
    border-radius: 50%;
    position: relative;
    top: -4px;
  }
  